@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-font {
    font-family: 'Holtwood One SC', sans-serif;
  }
  
.bannerhomepage {
    background-image: url('/images/galaxy.png');
    background-size: cover; /* ปรับขนาดรูปให้เต็มพื้นหลัง */
    background-repeat: no-repeat; /* ไม่ทำซ้ำภาพพื้นหลัง */
  }